<!DOCTYPE html>
<html lang="es"></html>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
  <div class="container">
    <div style="margin-left: -107px;">
      <a class="navbar-logo" href="{{ url_for('home') }}">
        <img src="{{ url_for('static', filename='image/logo.png') }}" alt="Logo de la Orquesta" height="100">
      </a> &nbsp&nbsp
      <a class="navbar-brand">
        <p class="text-white">{{titulo}}</p>
      </a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('home') }}">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('contacto') }}">Contacto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('mapa') }}">Ubicación de Nucleos</a>
        </li>
        <li class="nav-item">
          <a href="#ventanaModal" class="nav-link trigger-btn" data-toggle="modal">Iniciar Sesion</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div id="ventanaModal" class="modal fade">
  <div class="modal-dialog modal-login">
    <div class="modal-content">
      <form form action="{{ url_for('auth_authenticate') }}" method="POST">
        <div class="modal-header">
          <h4 class="modal-title">Acceder</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times</button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label>Nombre de Usuario</label>
            <input type="text" class="form-control" name="email" aria-describedby="emailHelp" placeholder="Ingrese su email" required>
          </div>
          <div class="form-group">
            <div class="clearfix">
              <label>Contraseña</label>
              <!-- <a href="#" class="pull-right text-muted"><small>Olvidó su clave?</small></a> -->
            </div>

            <input type="password" class="form-control" name="contraseña" placeholder="Ingrese su contraseña" required>
          </div>
        </div>
        <div class="modal-footer">
          <!-- <label class="checkbox-inline pull-left"><input type="checkbox"> Remember me</label> -->
          <button type="submit" class="btn btn-primary pull-right">Ingresar</button>
        </div>
      </form>
    </div>
  </div>
</div>
</DOCTYPE>
