{% extends 'layout.html' %} {% block title %}Formulario de Modificación de Usuario{% endblock %}
{% include "navbarLogueado.html" %}

{% block content %}
<div class="container">
  <form form action="{{url_for('guardarModificaciones') }}" method="POST">
    <fieldset>
      <strong><legend>Modificar Usuario</legend></strong>
      <div class="form-group">
        <label for="exampleInputEmail1">Dirección de email</label>
        <input type="text" class="form-control" name="email" aria-describedby="emailHelp" value="{{userUpdate[0]['email']}}" required>
      </div>
      <div class="form-group">
        <label for="exampleNombre">Nombre</label>
        <input type="text" class="form-control" name="nombre" value="{{userUpdate[0]['nombre']}}" required>
      </div>
      <div class="form-group">
        <label for="exampleNombre">Apellido</label>
        <input type="text" class="form-control" name="apellido" value="{{userUpdate[0]['apellido']}}" required>
        <input type="hidden" name="id" value="{{userUpdate[0]['id']}}">
      </div>
      <button type="submit" class="btn btn-primary">Modificar</button>
      <a class="btn btn-primary" href="{{ url_for('user_listado') }}" role="button">Volver</a>
    </fieldset>
  </form>
</div>
{% endblock %}
